* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Crimson Text', 'Calibri', 'Open Sans', sans-serif;
}

h1 {
    display: none;
}

#sobre {
    color: #7d0093;
}

/************************************************************
                        NAV
************************************************************/

nav {
    background-color: #7d0093;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav > img {
    width: 13%;
    height: 13%;
    padding: 1em;
    float: left;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
    align-items: flex-end;
}

nav ul > li {
    width: 100%;
    text-align: center;
    padding: 1em 0 0 0;
}

nav ul > li > a {
    color: #ffc600;
    text-decoration: none;
    font-weight: bold;
       
}

nav #bt-mobile-menu {
    display: none;
}

/************************************************************
                        NAV
************************************************************/

/***********************************************************
                IMAGEM FUNDO GALPÃO
************************************************************/

header {
    display: flex;
    width: 100%;
    padding: 5em 0 0 0;
}



@media (max-width: 625px) {

    #logo-area > img {
        padding: 3em 0 0 0;
        width: 35%;
    }

    #banner p {
        font-size: 0.8em;
    }

    #banner p > strong {
        -webkit-text-stroke: 2px #ffcc00;
    }

    nav #bt-mobile-menu {
        display: block;
    }

    nav .bt-common-menu {
        display: none;
    }

    nav .bt-common-menu.active {
        display: block;
    }

    nav ul.mobile-mode {
        display: flex;
        flex-direction: column;
    }
}