html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}

main {
    width: 100%;
    align-self: center;
    padding: 8em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

footer {
    
}